body{
    background-color:rgb(89, 89, 239);
}
h1{
    color:rgb(53, 53, 250);
}
.container{
     width: 360px;
     padding: 33px;
     margin: auto;
     text-align: center;
     background-color: aliceblue;
     border-radius: 10px;
}
input{
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(76, 76, 237);
    outline: none;
    font-size: 19px;
    border-radius: 5px;
}
button{
    width: 60px;
    height: 41px;
    outline: none;
    background-color: rgb(84, 84, 237);
    color: white;
    border-radius: 5px;
    font-size: 19px;
    border: none;
    cursor: pointer;

}
.text ul{
    position: relative;
    background-color: rgb(85, 85, 222);
    color: white;
    text-align: left;
    font-size: 19px;
    padding: 7px;
    border-radius: 10px;
    
    
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: beige;
}